@font-face {
  font-family: 'Humanist 777';
  src: url('assets/fonts/Humanist777-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Humanist 777', Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  position: relative;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.kc-logo {
  position: absolute;
  top: 10px;
  left: 10px;
  max-width: 100px;
  width: 100%;
  height: auto;
}

#language_selector {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  font-size: 14px;
}

h1 {
  font-size: 24px;
  margin-top: 60px;
  margin-bottom: 20px;
  line-height: 1.5;
}

button {
  background-color: #263287;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 0;
  width: 100%;
}

button:hover {
  background-color: #1d276b;
}

#track-selection {
  margin-bottom: 10px;
}

/* Start Over Button */
#start-over-container {
  display: flex;
  justify-content: flex-end; /* Aligns the button to the right */
}

#start-over {
  background-color: #FDB71A;
  color: black;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  width: 24%; /* 1/4 of the width of other buttons */
  text-align: center;
  margin-top: 10px;
}

#start-over:hover {
  background-color: #e0a615;
}

/* Ensure list items are left-aligned */
ul {
  padding-left: 20px; /* Add padding to the left for indentation */
  text-align: left; /* Align text to the left */
}

li {
  text-align: left; /* Align list items to the left */
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
  }

  button {
    font-size: 16px;
    padding: 8px;
  }

  #language_selector {
    font-size: 12px;
  }

  #start-over {
    font-size: 14px;
    padding: 8px 16px;
    width: 24%;
  }
}