@font-face {
  font-family: 'Humanist 777';
  src: url('assets/fonts/Humanist777-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Humanist 777', Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  position: relative;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.kc-logo {
  position: absolute;
  top: 10px;
  left: 10px;
  max-width: 100px;
  width: 100%;
  height: auto;
}

h1 {
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 20px;
  /* color: #FDB71A; */
}

.decision-node, #track-selection {
  margin: 20px 0;
  text-align: left;
  font-family: 'Humanist 777', Arial, sans-serif;
}

.decision-node p {
  margin-bottom: 15px;
}

.decision-node div {
  margin-bottom: 15px;
}

button {
  background-color: #263287;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px 0;
  width: 100%;
  box-sizing: border-box;
}

button:hover {
  background-color: #1d276b;
}

li, p {
  text-align: left;
  margin-left: 20px;
  font-family: 'Humanist 777', Arial, sans-serif;
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
  }

  button {
    font-size: 16px;
    padding: 8px;
  }
}